<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="wdata-pecath=device-wdata-pecath, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/jogar.css">
    <link href="https://fonts.cdnfonts.com/css/minecraftia" rel="stylesheet">
    <link rel="icon" href="../public/images/Fivicon.png">

  <style>
    body {
      font-family: 'Minecraftia', sans-serif;
    }
  </style>
    <title>Jogo</title>
</head>
<body>
    <div class="header">
        <img class="sair" src="../public/images/retornar.png" alt="Sair" onclick="window.location.href='../index.html'">
       
    </div>  
    <div class="container">

            <ul id="tabuleiro" data-peca="fundo" style="text-decoration: none;" class="border"></ul>
        </div>  
    <script src="../js/game.js">

      
    </script>
</body>
</html>