
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/nickname.css">
    <title>Nick</title>
</head>
<body>
    <div class="header" style="cursor: default;"> 
        
        <h1>Área player</h1>
        <h2>Coloque o nome do player</h2>
    </div>
        <div class="nick" style="cursor: default;">
    
            <input id="nickname" type="player name" placeholder="Nick" maxlength="10">
            <button class="botao" onclick="nextPage()">
             CONTINUAR
            </button> 
        </div>

    
    <script>

        
        function nextPage (){

            var nick = document.getElementById("nickname")
            if (nick.value=="") {
               return 
            }
            window.location.assign("./escolher-dificuldade.html?nickname=" + nick.value)

        }
    
    </script>
</body>
</html>
