<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=arrow_forward"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
        <title>Sobre</title>
        <link rel="stylesheet" href="../styles/sobre.css">
        <link rel="icon" href="../public/images/Fivicon.png">
 
    </head>
    <body>
        <div class="justfy-between">
        <div class="header-container">
            <div class="sair-conteiner">
                <img class="sair" src="../public/images/retornar.png" alt="Sair" onclick="window.location.href='../index.html'">
            </div>

            <div class="pc">
                <img class="pcImg" src="../public/images/ponto-cidadao.jpg" alt="Ponto Cidadão Logo">
                <h1 style="color: blue;" class="pc2">Ponto cidadão</h1>
            </div>
        </div>

    <div class="container">
        <div class="card-wrapper">
            <ul class="card-list">
                <div class="swiper-button-next" onclick="carousel('prev')"></div>
                
                <li class="card-item" id="ian" style="display: block;">
                    
                            <div href="#" class="card-link">
                                <img src="../public/images/Yan.jpg" alt="marketer" class="card-image">
                                <p class="cargo ian">Desenvolvedor e Designer</p>
                                <h2 class="card-title">Ian, 19 anos</h2>
                            
                                <a id="linkdogit" href="https://github.com/Ian-Lucas1" target="_blank" rel="noopener">
                                   <img id="imgdogit" src="../public/images/github img.jpg" alt="">
                                  </a>

                            </div>
                        </li>
                        <li class="card-item" id="ewerton" style="display: block;">

                            <div class="card-link">
                               <img src="../public/images/Ewerton1.jpg" alt="marketer" class="card-image">
                               <p class="cargo ewerton">Desenvolvedor</p>
                               <h2 class="card-title">Ewerton André, 19 anos</h2>
                               
                               <a id="linkdogit" href="https://github.com/DeonZ-web" target="_blank" rel="noopener">
                                   <img id="imgdogit" src="../public/images/github img.jpg" alt="">
                                  </a>
                               
                            </div>
                            
                        </li>
                        <li  class="card-item" id="gabriel" style="display: block;">                    
                            <div  href="#" class="card-link">
                                <img src="../public/images/Gabriel.jpg" alt="marketer" class="card-image">
                                <p class="cargo gabriel">Desenvolvedor</p>
                                <h2 class="card-title">Gabril Sales, 19 anos</h2>

                                <a id="linkdogit" href="https://github.com/Gabriel-soares081" target="_blank" rel="noopener">
                                   <img id="imgdogit" src="../public/images/github img.jpg" alt="">
                                  </a>

                            </div>
                        </li>
                        <li  class="card-item" id="adrielly" style="display: none;">
                            <div  href="#" class="card-link">
                                <div>
                                    <img src="../public/images/Adrielly.jpg" alt="marketer" class="card-image">
                                    <p class="cargo adrielly">Desenvolvedora</p>
                                    <h2 class="card-title">Adrielly, 16 anos</h2>

                                </div>
                            </div>                        
                        </li>
                <div class="swiper-button-prev" onclick="carousel('next')"></div> 
            </ul>

                      
        </div>
    </div>

            <div class="final">
                <h2>Curso de desenvolvimento Web</h2>
            </div>

                    <div class="mentor">
                        <h2>Professor - Fábio Fraga</h2> 
                    </div>
                    
                    <div class="scroll">
                        <button id="scroll-to-end">
                            <img id="buttonscroll" src="../public/images/scroll.png" alt="">
                        </button>
                    </div>
                    
                    <div class="objcontainer">

                        
                        <div class="objetivo">
                            <h1>Objetivo do projeto:</h1>
                            <h2>Projeto desenvolvido para conclusão do curso de desenvolvimento web.</h2> 
                        </div>
                    </div>
                    <div class="scroll">
                        <button id="scroll-to-top">
                            <img id="buttonscroll" src="../public/images/scroll.png" alt="">
                        </button>
                    </div>
        </div>   
            <script src="../js/sobre.js"></script>
    </body>
</html>