body {
    background-image: url('../public/images/background.jpg');
    margin: 0px;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    background-attachment: fixed; 
}

.header-container {
    display: flex;
}

.header-container #titulo {
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;

}

#colocados {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 9vh;
    gap: 10vh;
    cursor: default;
}

.sair {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100px;
    max-width: 100px;
    position: relative;
    cursor: pointer;
}

#placar {
     
    text-align: center;
    position: relative;
    max-width: 30vh;
    max-height: 30vh;
}